{% extends 'base.html' %}

{% block content %}
<p>{{ stores|length }} Stores</p>
{% if current_user.is_authenticated %}
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    URL <input type="text" name="url" autocomplete="off" required>
    STATE <select name="state">
    <option value="USED">Used</option>
    <option value="WANT">Want</option>
    </select>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
{% endif %}
<ul class="list">
    {% for store in stores %}
    <li>{{ store.title }} - <a class="state">{{ store.state }}</a>
        <span class="float-right">
            <a class="url" href={{ store.url }} target="_blank" title="Find this movie on Douban">Link To It</a>
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit_store', store_id=store.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete_store', store_id=store.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}