{% extends 'base.html' %}

{% block content %}
<p>{{ places|length }} Titles</p>
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    URL <input type="text" name="url" autocomplete="off" required>
    STATE <select name="state">
    <option value="USED">Used</option>
    <option value="WANT">Want</option>
    </select>
    <input class="btn" type="submit" name="submit" value="Add">
<ul class="list">
    {% for place in places %}
    <li>{{ place.title }} - {{ place.state }}
        <span class="float-right">
            <a class="url" href={{ place.url }} target="_blank" title="Find this movie on Douban">Link To It</a>
            <a class="btn" href="{{ url_for('edit_place', place_id=place.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete_place', place_id=place.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}